<li class="navbar-item"><a class="navbar-link" href="{{ "." | relURL }}"><img src="{{ "images/app-logo.png" | relURL }}" height="56px"/></a></li>
<li class="navbar-item"><a class="navbar-link" data-item="Home" href="{{ "." | relURL }}">Home</a></li>
<li class="navbar-item"><a class="navbar-link" data-item="Download" href="{{ "download" | relURL }}">Download</a></li>
<li class="navbar-item"><a class="navbar-link" data-item="Developers" href="{{ "developers" | relURL }}">Developers</a></li>
<li class="navbar-item"><a class="navbar-link" data-item="Translators" href="{{ "translators" | relURL }}">Translators</a></li>
<li class="navbar-item"><a class="navbar-link" data-item="Contact" href="{{ "contact" | relURL }}">Contact</a></li>
