<li class="navbar-item"><a class="navbar-link" href="{{ "." | absURL }}"><img src="{{ "images/app-logo.png" | absURL }}" height="56px"/></a></li>
<li class="navbar-item"><a class="navbar-link" data-item="Home" href="{{ "." | absURL }}">Home</a></li>
<li class="navbar-item"><a class="navbar-link" data-item="Download" href="{{ "download" | absURL }}">Download</a></li>
<li class="navbar-item"><a class="navbar-link" data-item="Developers" href="{{ "developers" | absURL }}">Developers</a></li>
<li class="navbar-item"><a class="navbar-link" data-item="Translators" href="{{ "translators" | absURL }}">Translators</a></li>
<li class="navbar-item"><a class="navbar-link" data-item="Contact" href="{{ "contact" | absURL }}">Contact</a></li>
