:root {
    --card-dark-color: rgb(0, 77, 77);
    --card-light-color: rgb(240, 108, 0);
}

.image-card {
  background: linear-gradient(to right,white,white,rgba(0, 77, 77, .15));
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-sizing: border-box;
  border: 2px solid var(--card-dark-color);
  display: flex;
  flex-wrap: wrap;
  color: rgb(90,90,90);
}

.image-card h3 {
  color: rgb(90,90,90);
  font-weight: 400;
}

.image-card-image {
  margin: 0 auto;
  position: relative;
  flex: 60%;
}

.image-card-content {
  margin: 0 auto;
  padding: 2em;
  position: relative;
  flex: 40%;
}

.image-card img {
  position: relative;
  min-height: 22rem;
  max-height: 40rem;
  display: block;
  max-width: 100%;
  margin: 10px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}

@media (max-width: 800px) {
  .image-card-content, .image-card-image {
    flex: 100%;
  }
}

.highlight-button {
  border: 2px solid var(--card-light-color);
  box-shadow: none;
  color: var(--card-light-color);
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  padding: 0.5rem 1.5rem;
  transition: all 0.5s ease;
  transform: scale(1, 1);
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.highlight-button:hover {
  transform: scale(1.05, 1.05);
  font-weight: 800;
  background: var(--card-dark-color);
}
