.featured-jumbotron{ background-image:url(../images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg) }

.featured-jumbotron h1 {
    font-weight: 500 !important;
}

.featured-jumbotron.featured-jumbotron-dark .btn-primary{
    background-color: rgb(240, 108, 0);
    border: 2px solid rgb(240, 108, 0);
    box-shadow: 5px 5px rgba(0, 0, 0, .4);
    border-radius: 5px;
    color: white !important;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 1.0s ease;
}

.featured-jumbotron.featured-jumbotron-dark .btn-primary:hover {
  transform: scale(1.05, 1.05);
}

body {
    font-family: "Quicksand", "Inter", "Roboto", sans-serif !important;
}

body .container {
    width: 75% !important;
}

.footer-end-social-container {
    display: none !important;
}

#copyright-text::before {
    content: "Eclipse Quneiform, Eclipse, and Eclipse Foundation are trademarks of the Eclipse Foundation. \A";
    white-space: pre; /* or pre-wrap */
}
